@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

html {
  background-color: #2B2118;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: "Lato", Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #2B2118;
}

header {
  padding: 1em;
  text-align: center;
  color: #2B2118;
  background-color: #A8763E;
}

main {
  margin: 0 15px;
}
header h1 {
  color: #2B2118;
}

p {
  font-family: "Lato", Helvetica, sans-serif;
  color: #2B2118;
  padding: 1em;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}

.colors th {
  background-color: #999;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #2B2118;
}

.secondary {
  background-color: #6F1A07;
}

.accent1 {
  background-color: #ECF0F1;
}

.accent2 {
  background-color: #A8763E;
}

.nav {
  background-color: #6F1A07;
  margin: 0;
  padding: 0em;
  line-height: .5em;
  font-size: 1em;
}

.nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;  
  padding: 0;
}

.nav ul li {
  list-style: none;
  flex: 1 1 auto;
  text-align: center;
}

.nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  padding: 1rem;
  clear: both;
}

.nav a {
  padding: 1em;
  min-width: 70px
}

.nav a:link{
  color: #ECF0F1;
}

.nav a:visited {
  color: lightgray;
}

.nav a:hover {
  color: #0000ff;
  background-color: white;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;  
  background-color: #A8763E;
}

.footer-text {
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
  font-style: italic;
  color: #000000;
  font-size: 1rem;
  letter-spacing: .4pt;
  margin-left: 10px;
}

.social-images {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;
  padding-top: .5em;
  padding-right: .5em;
}

@media screen and (max-width: 550px) {
  .home-grid {
    display: block;
    clear: both;
  }
}