@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html {
  background-color: #283D3B
}

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", Helvetica, sans-serif;
}

div.page-container {
  max-width: 960px;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #000000;
}

header, nav, main, footer {
   margin: 0 auto;
}

header {
  background-color: #CCC7B9;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  text-align: center;
}

header img {
  width: 100px;
  height: auto;
  margin: 30px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings>h1 {
  font-size: 2em;
  color: #000000;
  margin: 0;
  margin-left: 30px;
}

.motto {
  font-style: italic;
  color: #000000;
  font-size: 1rem;
  letter-spacing: 1.5pt;
}

nav {
  background-color: #3799d1;
  margin: 0;
  padding: 0em;
  line-height: .5em;
  font-size: 1em;
  max-width: 960px;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;  
  padding: 0;
}

nav ul li {
  list-style: none;
  flex: 1 1 auto;
  text-align: center;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: .8rem;
  padding: 1rem;
}

nav a {
  padding: 1em;
  min-width: 70px
}

nav a:link{
  color: #000000;
}

nav a:visited {
  color: #4B4949;
}

nav a:hover {
  color: #0000ff;
  background-color: white;
}

.main-image {
  width: 150px;
  height: auto;
  margin: 10px;
}

.h2-headings {
  font-size: 1em;
  color: #000000;
  margin: 0;
  margin-left: 50px;

}

.body-parapgraph {
    font-family: "Lato", Helvetica, sans-serif;
    color: #000000;
    text-align: center;
    margin-bottom: 6em;
}

.footer {
  text-align: right;
} 

.social-images {
  text-align: right;
}