@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", Helvetica, sans-serif;
}

div.page-container {
  max-width: 960px;
  margin: 0 auto;
  /*box-shadow: 0 0 30px #000000;*/
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", Helvetica, sans-serif;
  color: #000000;
}

header, nav, main, footer {
   margin: 0 auto;
}

header {
  background-color: #CCC7B9;
  padding: 0;
  display: flex;
  align-items: center;
  /*color: #000000;
  border: 1px solid #333333;
  text-align: center;
  justify-content: center;*/
}

header img {
  width: 100px;
  height: auto;
  margin: 30px;
}

.headings {
  display: flex;
  flex-direction: column;
}

.headings>h1 {
  font-size: 2em;
  color: #000000;
  margin: 0;
  margin-left: 30px;
}

.motto {
  font-style: italic;
  color: #000000;
  font-size: 1rem;
  letter-spacing: 1.5pt;
}

p {
  font-family: "Lato", Helvetica, sans-serif;
  color: #000000;
  padding: 1em;
}

nav {
  background-color: #3799d1;
  margin: 0;
  padding: 0em;
  line-height: .5em;
  font-size: 1em;
  max-width: 960px;
  /*border: 1px solid #333333;*/
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: 0;  
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
}

nav a {
  padding: 1em;
  min-width: 70px
}

nav a:link{
  color: #000000;
}

nav a:visited {
  color: #4B4949;
}

nav a:hover {
  color: #0000ff;
  background-color: white;
}

div.footer {
  text-align: right;
} 

/*.social>image {
  width: 230px; height: auto; border: 0;
}*/